.code {
  white-space: pre;
  font-family: monospace;
  background-color: #606060;
  color: #AAA;
  padding: 8px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 3px;
}

.new-code {
  color: #CCFFEE
}

img {
    padding: 8px;
    border: 1px solid black;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin : auto;
  width: 1024px;
}
